@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(36, 47, 62);
  padding: 0 0;
}

.title {
  font-size: 3.8em;
  font-weight: bold;
  color: #000000;
}

span {
  color: #000000;
}

.container {
  height: auto;
  text-align: center;
}

.home-hero {
  background: url("img/heroOne.jpeg") no-repeat center / cover;
  padding: 15em 0;
  padding-top: 30vh;
  height: 100vh;
}

.button {
  background-color: rgb(230, 28, 60);
  border: none;
  color: black;
  padding: 1.5rem 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  top: 40vh;
  border-radius: 1rem;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  box-shadow: 0 16px 0 rgb(0, 0, 0);
  background-color: rgb(27, 26, 33);
}

#check {
  display: none;
}
i {
  color: #f2f2f2;
  cursor: pointer;
}

header .logo {
  flex: 1;
  color: white;
  margin-left: 50px;
}
header .searchb {
  flex: 1;
  position: relative;
}

.searchb input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 30px;
  color: gray;
  font-size: 1rem;
  text-align: center;
  padding-left: 5px;
  padding-right: 40px;
}

.searchb button {
  width: 40px;
  height: 40px;
  border-radius: 2rem;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1);
  background: rgb(230, 28, 60);
}

header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 570;
  text-transform: uppercase;
  padding: 10px 1rem;
}

header ul li a:hover {
  color: rgb(26, 71, 134);
}

header .menu {
  font-size: 2.5em;
  display: none;
}

@media (max-width: 62.5rem) {
  .searchb button {
    position: absolute;
  }
  header ul {
    position: fixed;
    top: 6.25rem;
    right: -100%;
    background: rgba(27, 26, 33);
    height: calc(100vh - 6.25rem);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }
  header .menu {
    display: block;
    width: 6.25rem;
    text-align: center;
  }
  #check:checked ~ ul {
    right: 0;
  }
}

@media (max-width: 37.5rem) {
  header .logo {
    font-size: 10px;
    margin-left: 8px;
  }
  header ul {
    width: 100%;
  }
}

/* Removes the Underline and The Blue color from the link */
a {
  text-decoration: none;
  color: inherit;
}

/*  BANNER SECTION  ========================================= */

/* "flex-flow: row nowrap;" Adding Flexbox in which it will automatically split the image and the text into 2 differnt sections in a ROW layout */
/* "width: 100%;" Making the 'width' of the section always 100% */
/* "align-items: center;" centers the text vertically */
.banner {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background-color: rgb(241, 234, 218);
}

/* "text-align: right;" moves the image to the right, inside the banner-image-wrapper <div> */
.banner-image-wrapper {
  width: 50%;
  height: auto;
}

/* "object-fit: cover;" This make sure the image stays fit, inside the banner-image-wrapper <div>*/
.banner-image {
  object-fit: cover;
  width: 80%;
  height: auto;
  margin-left: 10%;
}

.banner-text-wrapper {
  width: 50%;
  padding-left: 5rem;

  font-weight: 500;
  font-size: 22px;
  color: #005099;
}

.banner-desc {
  width: 65%;
}

.banner-button {
  display: inline-block;
  width: 153px;

  padding: 15px 30px;
  margin-top: 2rem;

  font-size: 16px;
  font-weight: 600;
  color: #fff;

  text-align: center;
  background-color: #005099;
}

.banner-button:hover {
  background-color: #fff;
  color: #005099;
  transition: linear 0.2s;
}

@media (max-width: 1100px) {
  .banner-desc {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .banner {
    flex-flow: column nowrap;
    padding: 0 0 2rem 0;
  }
  .banner-image-wrapper,
  .banner-text-wrapper {
    width: 100%;
  }

  .banner-image-wrapper {
    text-align: center;
  }

  .banner-image {
    min-width: 60%;
    height: auto;
  }

  .banner-desc {
    width: 100%;
    margin-right: 2rem;
  }

  .banner-text-wrapper {
    padding: 0 1rem;
  }
}

/*  CARDS SECTION  ========================================= */
.cards {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.card {
  width: 33.3%;
  flex: 0 0 33.3%;
  aspect-ratio: 4/3;
  text-align: center;

  padding-top: 2.5rem;
}

.card--pink {
  background-color: rgb(37, 47, 62);
}

.card--blue {
  background-color: #abdbe9;
}

.card--green {
  background-color: rgb(154, 1, 1);
}

.card__title {
  font-size: 32px;
  font-weight: 600;
  color: #005099;

  margin-bottom: 1rem;
}

.card__button {
  display: inline-block;
  margin-bottom: 2rem;

  font-size: 18px;
  font-weight: 600;

  color: #005099;
  border-bottom: #fff solid 3px;
  transition: color linear 0.15s;
}

.card__button:hover {
  color: #fff;
  transition: linear 0.15s;
}

.card__image--one {
  background: url("img/snesImage.png");
}

.card__image--two {
  background: url("img/pokemon-switch.png");
}

.card__image--three {
  background: url("img/n64controllerImage.png");
}

.card__image {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.2s linear;
}

@media (max-width: 800px) {
  .cards {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .card {
    width: 100%;
    flex: 0 0 100%;
    aspect-ratio: 16/9;
    text-align: center;

    padding-top: 2.5rem;
  }
}

footer {
  padding: 1.5em;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links li {
  margin: 0 12px;
}

.footer-bottom p {
  font-size: 10px;
  text-align: center;
}
